
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "streamlit run --server.address 0.0.0.0 --server.headless true --server.enableCORS=false --server.enableWebsocketCompression=false --server.port 8080 main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80

[env]
PYTHONPATH = "${PYTHONPATH}:${REPL_HOME}"

[[workflows.workflow]]
name = "Streamlit App"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run main.py --server.address 0.0.0.0 --server.port 8080"
waitForPort = 8080
